<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="widget">
				<div class="navbar widget-purple">
					<ul class="nav navbar-nav">
						<li class="widget-icon"><i class="fa fa-tachometer fa-2x"></i></li>
						<li class="widget-title">Results</li>
					</ul>
					<ul class="navbar-right">
				      	<li class="fa fa-cog fa-lg widget-menu"></li>
				        <li class="fa fa-times fa-lg widget-menu"></li>
				    </ul>
				</div>
				<div role="content">
					<div class="widget-body">
						<div id="chart1"></div>
						<script>
							var chart = c3.generate({
							    
								bindto: "#chart1",
							    data: {

							        x: 'x',
							        columns: [
							            ['x', '2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06'],
							            ['member', 30, 200, 250, 400, 150, 250],
							            ['sells', 130, 340, 200, 500, 250, 350]
							        ],
							        types: {
							            member: 'area',
							            sells: 'area-spline'
							        }
							    },
							    axis: {
							        x: {
							            type: 'timeseries',
							            tick: {
							                format: '%Y-%m-%d'
							            }
							        }
							    }
							});
							
						</script>
					</div>

				</div>
			</div>

				<!--<div class="widget">
					<div class="navbar widget-red">
						<ul class="nav navbar-nav">
							<li class="widget-icon"><i class="fa fa-edit fa-2x"></i></li>
							<li class="widget-title">To do list</li>
						</ul>
						<ul class="navbar-right">
					      	<li class="fa fa-cog fa-lg widget-menu"></li>
					        <li class="fa fa-times fa-lg widget-menu"></li>
					    </ul>
					</div>
					<div role="content">
						<div class="widget-body">
							
						</div>
						
					</div>
				</div>-->
	</div>


	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="widget">
			<div class="navbar widget-green">
				<ul class="nav navbar-nav">
					<li class="widget-icon"><i class="fa fa-check fa-2x"></i></li>
					<li class="widget-title">Objectives</li>
				</ul>
				<ul class="navbar-right">
			      	<li class="fa fa-cog fa-lg widget-menu"></li>
			        <li class="fa fa-times fa-lg widget-menu"></li>
			    </ul>
			</div>
			<div role="content">
				<div class="widget-body">
					<ul>
								<li>
		                            <a href="#{{page}}">
		                                <div>
		                                    <p>
		                                        <strong>Sell 1000 sandwishs</strong>
		                                        <span class="pull-right text-muted">40% Complete</span>
		                                    </p>
		                                    <div class="progress progress-striped active">
		                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
		                                            <span class="sr-only">40% Complete (success)</span>
		                                        </div>
		                                    </div>
		                                </div>
		                            </a>
		                        </li>
		                        <li class="divider"></li>
		                        <li>
		                            <a href="#{{page}}">
		                                <div>
		                                    <p>
		                                        <strong>Win 15000€</strong>
		                                        <span class="pull-right text-muted">20% Complete</span>
		                                    </p>
		                                    <div class="progress progress-striped active">
		                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
		                                            <span class="sr-only">20% Complete</span>
		                                        </div>
		                                    </div>
		                                </div>
		                            </a>
		                        </li>
		                        <li class="divider"></li>
		                        <li>
		                            <a href="#{{page}}">
		                                <div>
		                                    <p>
		                                        <strong>Increase satifaction by 35%</strong>
		                                        <span class="pull-right text-muted">60% Complete</span>
		                                    </p>
		                                    <div class="progress progress-striped active">
		                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
		                                            <span class="sr-only">60% Complete (warning)</span>
		                                        </div>
		                                    </div>
		                                </div>
		                            </a>
		                        </li>
							</ul>

				</div>

			</div>
		</div>

		<div class="row">
			
				<div class="widget col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="navbar widget-orange">
						<ul class="nav navbar-nav">
							<li class="widget-icon"><i class="fa fa-check-square-o fa-2x"></i></li>
							<li class="widget-title">To do list</li>
						</ul>
						<ul class="navbar-right">
					      	<li class="fa fa-cog fa-lg widget-menu"></li>
					        <li class="fa fa-times fa-lg widget-menu"></li>
					    </ul>
					</div>
					<div role="content">
						<div class="widget-body">
								
							<div class="titled-item no-title">
								<div class="col-left"><input type="checkbox"></div>
								<div class="col-right">
									<div class="content">Read newspapers</div>
								</div>

							</div>
							<div class="titled-item no-title">
								<div class="col-left"><input type="checkbox"></div>
								<div class="col-right">
									<div class="content">Check financial result</div>
								</div>

							</div>
							<div class="titled-item no-title">
								<div class="col-left"><input type="checkbox"></div>
								<div class="col-right">
									<div class="content">Make advertisement</div>
								</div>

							</div>

							<div class="titled-item no-title">
								<div class="col-left"><input type="checkbox"></div>
								<div class="col-right">
									<div class="content">Find my catch phrase</div>
								</div>

							</div>
						</div>

					</div>
			</div>



			
			<div class="widget  col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="navbar widget-red">
					<ul class="nav navbar-nav">
						<li class="widget-icon"><i class="fa fa-bell-o fa-2x"></i></li>
						<li class="widget-title">Events</li>
					</ul>
					<ul class="navbar-right">
				      	<li class="fa fa-cog fa-lg widget-menu"></li>
				        <li class="fa fa-times fa-lg widget-menu"></li>
				    </ul>
				</div>
				<div role="content">
					<div class="widget-body">
							<div class="titled-item item-success">
								<div class="col-left"><span class="fa fa-2x"></span></div>
								<div class="col-right">
									<span class="title">Hire success</span>
									<span class="content">You succefully hired a new employee</span>
								</div>

							</div>
							<div class="titled-item item-info">
								<div class="col-left"><span class="fa fa-2x"></span></div>
								<div class="col-right">
									<span class="title">Bad weather</span>
									<span class="content">It's rainny today...</span>
								</div>

							</div>
							<div class="titled-item item-warning">
								<div class="col-left"><span class="fa fa-2x"></span></div>
								<div class="col-right">
									<span class="title">Employee Moral</span>
									<span class="content">Care, your cooker's moral is still low</span>
								</div>

							</div>

							<div class="titled-item item-error">
								<div class="col-left"><span class="fa fa-2x"></span></div>
								<div class="col-right">
									<span class="title">Mission failed</span>
									<span class="content">You haven't been able to produce 100 sandwishs</span>
								</div>

							</div>
					</div>

				</div>
			</div>



	</div>
	
</div>
