

body {
  margin-top: 50px;
}
ul, li {
  list-style: none;
}
#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
  display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
  float: left;
  margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
  font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
  font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
  font-size: 12px;
}



.side-nav {
    border-radius: 0;
    border: none;
    overflow-y: auto;
    background: #F0F0F0;
    border: 1px solid #C0C0C0;

    border-top: 0;
  }
  .top-bar{
    background: #F0F0F0;
    border: 1px solid #C0C0C0;
    
  }
  .navbar-brand{
    color: #999;
    font-weight: bold;
  }
  .top-bar a:active,
  .top-bar a:link,
  .top-bar a:focus{
    color: #333;
    font-size: 16px;
  }
  .side-nav a:active,
  .side-nav a:link,
  .side-nav a:focus {
     background-color: #EEEEEE;
     border: 1px solid #D0D0D0;
     text-transform: uppercase;
     color: #333;
  }
  .side-nav a:hover{
    background-color: #E0E0E0!important;
  }

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

  #wrapper {
	padding-left: 225px;
  }

  #page-wrapper {
	 padding: 15px 25px;
  }

  /* Side Nav */
  .no-sidebar{
    padding-left: 0px !important;
  }
  .side-nav {
  	margin-left: -225px;
  	left: 225px;
  	width: 225px;
  	position: fixed;
  	top: 50px;
  	height: 100%;
  	border-radius: 0;
  	border: none;
  	overflow-y: auto;
    background: #F0F0F0;
    border: 1px solid #C0C0C0;

    border-top: 0;
  }
  .top-bar{
    background: #F0F0F0;
    border: 1px solid #C0C0C0;
    
  }
  .navbar-brand{
    color: #999;
    font-weight: bold;
  }
  .top-bar a:active,
  .top-bar a:link,
  .top-bar a:focus{
    color: #333;
    font-size: 16px;
  }
  .side-nav a:active,
  .side-nav a:link,
  .side-nav a:focus {
     background-color: #EEEEEE;
     border: 1px solid #D0D0D0;
     text-transform: uppercase;
     margin-top: 5px;
     color: #333;
  }
  .side-nav a:hover{
    background-color: #E0E0E0!important;
  }
  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  .side-nav>li.dropdown>ul.dropdown-menu {
  	position: relative;
  	min-width: 225px;
  	margin: 0;
  	padding: 0;
  	border: none;
  	border-radius: 0;
  	background-color: transparent;
  	box-shadow: none;
  	-webkit-box-shadow: none;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
  	color: #999999;
  	padding: 15px 15px 15px 25px;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
  	color: #fff;
  }

  .side-nav>li>a {
     width: 225px;
  }

  

  /* Nav Messages */

  .messages-dropdown .dropdown-menu {
	   min-width: 300px;
  }

  .messages-dropdown .dropdown-menu li a {
	   white-space: normal;
  }

  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

}
.end-turn-button{
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.side-user{
  color: #FFF;
  text-align: center;
}

.widget .widget-icon{
  width: 40px;
}

.widget .widget-title{
  font-size: 16px;
  line-height: 28px;
  height: 28px;
  text-transform: capitalize;
}
.widget .navbar{
  color: #EEE;
  padding: 5px;
  min-height: 40px;
  height: 40px;
  border-radius: 3px 3px 0 0;
  margin-bottom: 0;
  margin-top: 10px;
}

.widget .widget-menu{
  line-height: 22px;
  height: 28px;
  padding: 5px;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
}

.widget .widget-menu.activated{
    color: #0B0B61;
}

.widget .widget-body{
  background: #FCFCFC;
  border-radius: 0 0 3px 3px;
  border: 1px solid #E0E0E0;
  padding: 5px;
  font-size: 12px;
}

.widget .widget-no-margin{
  padding: 0;
  margin: 0;
}

.widget .widget-green-dark{
  background: #356e35;
  border: 1px solid #053e05;
}

.widget .widget-green{
  background: #496949;
  border: 1px solid #194929;
}

.widget .widget-green-light{
  background: #71843f;
  border: 1px solid #51640f;
}

.widget .widget-purple{
  background: #6E3671;
  border: 1px solid #E0E0E0;
}

.widget .widget-purple-light{
  background: #6e587a;
  border: 1px solid #E0E0E0;
}

.widget .widget-pink{
  background: #ac5287;
  border: 1px solid #7c3257;
}

.widget .widget-pink-light{
  background: #a8829f;
  border: 1px solid #78526f;
}

.widget .widget-blue-light{
  background: #92a2a8;
  border: 1px solid #627278;
}
.widget .widget-teal{
  background: #568a89;
  border: 1px solid #265a59;
}
.widget .widget-blue{
  background: #57889c;
  border: 1px solid #27586c;
}
.widget .widget-black-light{
  background: #4c4f53;
  border: 1px solid #E0E0E0;
}
.widget .widget-black{
  background: #404040;
  border: 1px solid #101010;
}
.widget .widget-yellow{
  background: #b09b5b;
  border: 1px solid #805b2b;
}
.widget .widget-orange{
  background: #c79121;
  border: 1px solid #975101;
}
.widget .widget-brown{
  background: #a57225;
  border: 1px solid #754205;
}
.widget .widget-red{
  background: #a90329;
  border: 1px solid #790309;
}

.widget .widget-red-light{
  background: #a65858;
  border: 1px solid #762828;
}

.widget .navbar-nav>li, .widget .navbar-nav {
  float: left !important;
}


.widget .navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.widget .navbar-right {
  float: right!important;
}


@media (max-width:768px) {
  .widget .navbar-nav>li, .widget .navbar-nav {
    margin: 0;
  }
}


.widget .widget-info{
   
   border: 1px solid #F0F0F0;
   margin: 2px;
   height: 80px;
}
.widget .widget-info .info-label{
  font-size: 12px;
  text-transform: uppercase;
  color: #909090;
  text-align: center;
  height: 40px;
  display: block;
} 
.widget .widget-info .info-value{
    font-size: 24px;
    display: block;
    font-weight: bold;
    height: 40px;
    text-align: center;
}


.widget .widget-font-green-dark{
  color: #356e35;
}

.widget .widget-font-green{
  color: #496949;
}

.widget .widget-font-green-light{
  color: #71843f;
}

.widget .widget-font-purple{
  color: #6E3671;
}

.widget .widget-font-purple-light{
  color: #6e587a;
}

.widget .widget-font-pink{
  color: #ac5287;
}

.widget .widget-font-pink-light{
  color: #a8829f;
}

.widget .widget-font-blue-light{
  color: #92a2a8;
}
.widget .widget-font-teal{
  color: #568a89;
}
.widget .widget-font-blue{
  color: #57889c;
}
.widget .widget-font-black-light{
  color: #4c4f53;
}
.widget .widget-font-black{
  color: #404040;
}
.widget .widget-font-yellow{
  color: #b09b5b;
}
.widget .widget-font-orange{
  color: #c79121;
}
.widget .widget-font-brown{
  color: #a57225;
}
.widget .widget-font-red{
  color: #a90329;
}

.widget .widget-red-light{
  background: #a65858;
}
.widget .widget-form div.form-group{
  padding: 5px;
  border: 1px solid #F0F0F0;
  margin: 2px;
}
.widget .widget-form label{
  font-size: 16px;
  color: #909090;
  font-weight: normal;
  text-transform: uppercase;
  
}
.widget .titled-item{
  margin-bottom: 4px;
  border: 1px solid #C0C0C0;
  background: #FAFAFA;
  padding: 3px;
  content: " ";
  display: table;
  width: 100%;
}
.widget .titled-item span.content{
  color: #333;
  display: block;
}
.widget .titled-item span.title{
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.widget .titled-item .col-left{
  float: left;
  width: 45px;
  height:  45px;
  text-align: center;
  line-height: 45px;
}
.widget .titled-item .col-left span{
  display: block;
  margin: auto;
  line-height: 45px;
  width: 45px;
  text-align: center;
  
}

.widget .titled-item.item-info .col-left{
  
  background: #CEE3F6;
  border: 1px solid #AEB3C6;

}

.widget .titled-item.item-success .col-left{
  
  background: #CEF6D8;
  border: 1px solid #9EC6A8;
}
.widget .titled-item.item-warning .col-left{
  
  background: #F6E3CE;
  border: 1px solid #C6B3AE;
}

.widget .titled-item.item-error .col-left{
  background: #F5A9BC;
  border: 1px solid #C5799C;
}
.widget .titled-item.item-success .col-left span::before{
   content: "\f00c";
}
.widget .titled-item.item-info .col-left span::before{
   content: "\f129";
}
.widget .titled-item.item-warning .col-left span::before{
   content: "\f071";
}
.widget .titled-item.item-error .col-left span::before{
   content: "\f00d";
}
.widget .titled-item .col-right{
  float: left;
  margin-left: 5px;
  word-wrap: break-word;
  display: block;
  max-width: 80%;
}

.widget .titled-item.no-title .col-right .content{
  line-height: 45px;
  font-size: 14px;
}


.widget th.toolbar-button{
    width: 70px;
}

.widget .search-field{
    display: inline-block;
    padding: 0px;
}


.widget .search-field input{
    background: #FEFEFE;
    border: 1px solid #C0C0C0;
    color: #333;
    padding: 1px;
    font-size: 16px;
}
/*********************************************** LOGIN ************************************************************/


/* close button positioned on upper right corner */
.overlay .close {
    position:absolute;
    right:0px;
    top:0px;
    cursor:pointer;
    height:32px;
    width:32px;
}

.login-form {
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 10000;
  opacity: 0.9;
}
.login-form > div{
  opacity: 1;
  background: #FFF;
  margin-top: 15%;
}
.login-form .panel{
  height: 290px;
}