<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="login">Login</label>  
  <div class="col-md-6">
  <input id="login" name="login" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">Choose a login</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="firstname">Firstname</label>  
  <div class="col-md-6">
  <input id="firstname" name="firstname" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">Give your firstname</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="lastname">Lastname</label>  
  <div class="col-md-6">
  <input id="lastname" name="lastname" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">Give your lastname</span>  
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password1">Set a password</label>
  <div class="col-md-6">
    <input id="password1" name="password1" type="password" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password2">Confirm your password</label>
  <div class="col-md-6">
    <input id="password2" name="password2" type="password" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="i18n">Language</label>
  <div class="col-md-6">
    <select id="i18n" name="i18n" class="form-control">
      <option value="en">English</option>
      <option value="fr">French</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for=""></label>
  <div class="col-md-4">
    <button id="" name="" class="btn btn-primary">Create</button>
  </div>
</div>

</fieldset>
</form>
