<div>
	<form class="form-horizontal">
		<fieldset>

		<!-- Form Name -->
		<legend>Création de votre personnage</legend>

		<!-- Multiple Radios (inline) -->
		<div class="control-group">
		  <label class="control-label" for="radios">Vous êtes</label>
		  <div class="controls">
		    <label class="radio inline" for="radios-0">
		      <input type="radio" name="radios" id="radios-0" value="Un homme" checked="checked">
		      Un homme
		    </label>
		    <label class="radio inline" for="radios-1">
		      <input type="radio" name="radios" id="radios-1" value="Une femme">
		      Une femme
		    </label>
		  </div>
		</div>

		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="firstname">Nom</label>
		  <div class="controls">
		    <input id="firstname" name="firstname" type="text" placeholder="" class="input-xlarge" required="">
		    
		  </div>
		</div>

		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="surname">Prenom</label>
		  <div class="controls">
		    <input id="surname" name="surname" type="text" placeholder="" class="input-xlarge">
		    
		  </div>
		</div>

		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="email">Email</label>
		  <div class="controls">
		    <input id="email" name="email" type="text" placeholder="" class="input-xlarge" required="">
		    
		  </div>
		</div>

		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="nickname">Pseudo</label>
		  <div class="controls">
		    <input id="nickname" name="nickname" type="text" placeholder="" class="input-xlarge" required="">
		    <p class="help-block">Nom sous lequel vous apparaîtrez dans la jeu</p>
		  </div>
		</div>

		<!-- Password input-->
		<div class="control-group">
		  <label class="control-label" for="password1">Votre mot de passe</label>
		  <div class="controls">
		    <input id="password1" name="password1" type="password" placeholder="" class="input-xlarge" required="">
		    <p class="help-block">Votre mot de passe doit contenir au moins un chiffre</p>
		  </div>
		</div>

		<!-- Password input-->
		<div class="control-group">
		  <label class="control-label" for="password2">Confirmer votre mot de passe</label>
		  <div class="controls">
		    <input id="password2" name="password2" type="password" placeholder="" class="input-xlarge" required="">
		    
		  </div>
		</div>

		<!-- Multiple Checkboxes -->
		<div class="control-group">
		  <label class="control-label" for=""></label>
		  <div class="controls">
		    <label class="checkbox" for="-0">
		      <input type="checkbox" name="" id="-0" value="J'ai lu et j'accepte les conditions d'utilisations">
		      J'ai lu et j'accepte les conditions d'utilisations
		    </label>
		    <label class="checkbox" for="-1">
		      <input type="checkbox" name="" id="-1" value="J'accepte de recevoir des emails d'information de la part de LudiTeam">
		      J'accepte de recevoir des emails d'information de la part de LudiTeam
		    </label>
		  </div>
		</div>

		<!-- Button -->
		<div class="control-group">
		  <label class="control-label" for="singlebutton"></label>
		  <div class="controls">
		    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Creer mon compte</button>
		  </div>
		</div>

		</fieldset>
	</form>


</div>


<div>
	<form class="form-horizontal">
		<fieldset>

		<!-- Form Name -->
		<legend>Création de votre entreprise</legend>

		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="name">Nom</label>
		  <div class="controls">
		    <input id="name" name="name" type="text" placeholder="placeholder" class="input-xlarge" required="">
		    <p class="help-block">Nommer votre entreprise</p>
		  </div>
		</div>

		<!-- Select Basic -->
		<div class="control-group">
		  <label class="control-label" for="sector">Secteur</label>
		  <div class="controls">
		    <select id="sector" name="sector" class="input-xlarge">
		      <option>Restauration</option>
		      <option>Conseil</option>
		      <option>Informatique</option>
		      <option>Matière première</option>
		      <option>Juridique</option>
		      <option>Marketing</option>
		      <option>Ressources Humaines</option>
		    </select>
		  </div>
		</div>

		<!-- Text input-->
		<div class="control-group">
		  <label class="control-label" for="capital">Capital</label>
		  <div class="controls">
		    <input id="capital" name="capital" type="text" placeholder="" class="input-xlarge" required="">
		    
		  </div>
		</div>

		</fieldset>
		</form>

</div>