<div class="container-fluid" ng-controller="TasksCtrl">
	
	<div class="right-col">
		<ul>
			<li ng-repeat="task in tasks" class="task-container box-shadow">
				<div class="task">
					<div class="task-name col-md-7 col-xs-5 col-lg-7 bg-primary">{{task.name}}</div>
					<div class="task-competence col-md-2 col-xs-2 col-lg-2 bg-primary">{{task.competence}}</div>
					<div class="task-ua col-md-2 col-xs-4 col-lg-2 bg-primary text-center">{{task.ua_assigned}}/{{task.ua_needed}}UA</div>
					<div class="task-delete col-md-1 col-xs-1 col-lg-1 bg-primary text-center"><i class="fa fa-times"></i></div>
				</div>
				<ul class="assigned">
					<li ng-repeat="person in task.assigned" class="row">
						<div class="col-md-1 col-lg-1 hidden-xs"><img ng-src="{{person.image}}" width="64"/></div>
						<div class="col-md-6 col-xs-5 col-lg-6">{{person.name}}</div>
						<div class="col-md-2 col-xs-2 col-lg-2">
							<div class="progress">
							  <div class="progress-bar" ng-class="{'progress-bar-success': person.competence >= 50, 'progress-bar-warning': person.competence < 50 && person.competence > 25, 'progress-bar-danger': person.competence <= 25}" role="progressbar" aria-valuenow="person.competence" aria-valuemin="0" aria-valuemax="100" style="width: {{person.competence}}%">
							    <span class="sr-only">{{person.competence}}%</span>
							  </div>
							</div>
						</div>
						<div class="col-md-2 col-xs-4 col-lg-2 text-center">
							<span arrowrange min="0" max="person.hour_available" value="person.hour_assigned" on-min="onMin" on-max="onMax" on-value-change="onValueChange"></span>
						</div>
						<div class="delete col-md-1 col-xs-1 col-lg-1 text-center"><i class="fa fa-times"></i></div>
					</li>
					<li class="row add-person" ng-click="addPerson(task)" rel="#overlay">
						<div class="title col-md-11 col-xs-11 col-lg-11">Ajouter des collaborateurs</div>
						<div class="add col-md-1 col-xs-1 col-lg-1 text-center"><i class="fa fa-plus"></i></div>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div ng-show="selectedTask" class="left-col overlay">
		<ul class="overlay-in">
			<h3>Tache: {{selectedTask.name}} - Compétence: {{selectedTask.competence}}</h3>
			<div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<label>Compétence</label>
					<select ng-model="compentence_filter.name" class="form-control">
						<option value="">-- Choisir -- </option>
						<option value="vente">Vente</option>
						<option value="achat">Achat</option>
						<option value="rh">RH</option>
					</select>
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<label>Disponible</label>
					<select ng-model="direction_hour" class="form-control">
						<option value="minus">Au moins</option>
						<option value="strict">Exactement</option>
						<option value="plus">Au plus</option>
					</select>
					<select ng-model="hour_filter" class="form-control">
						<option value="">-- Choisir -- </option>
						<option value="{{i}}" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]">{{i}}h</option>
					</select>
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<label>Coute</label>
					<select ng-model="direction_cost" class="form-control">
						<option value="minus">Au moins</option>
						<option value="strict">Exactement</option>
						<option value="plus">Au plus</option>
					</select>
					<select ng-model="cost_filter" class="form-control">
						<option value="">-- Choisir -- </option>
						<option value="{{i}}" ng-repeat="i in [50,100,150,200,250,300,350]">{{i}}€</option>
					</select>
				</div>
			</div>
			<li ng-repeat="category in categories" class="category">
				<span class="category-name">{{category.name}}</span>
				<ul>
					<li ng-repeat="item in category.items | hourFilter:hour_filter:direction_hour | costFilter:cost_filter:direction_cost" class="row selectable-person">
						<div>
							<div class="col-md-2 hidden-xs col-lg-2">
								<img class="center" ng-src="{{item.image}}" width="64"/>
							</div>
							<div class="col-md-4 col-xs-4 col-lg-4 person-identity">
								<div class="box-hover name">{{item.name}}</div>
								<div ng-if="item.cost">{{item.cost}}€/h</div>
								<div ng-if="item.available_hours">
									{{item.available_hours}}h disponible<span ng-if="item.available_hours > 1">s</span>
								</div>
								
							</div>

							<div class="col-md-6 col-xs-8 col-lg-6">
								<ul>
									<li ng-repeat="competence in item.competences | filter:compentence_filter | orderBy:'value':true">
										<div class="col-md-5 col-xs-5 col-lg-5 competence-name">{{competence.name}}</div>
										<div class="progress col-md-7 col-xs-7 col-lg-7">
										  <div class="progress-bar" ng-class="{'progress-bar-success': competence.value >= 50, 'progress-bar-warning': competence.value < 50 && competence.value > 25, 'progress-bar-danger': competence.value <= 25}" role="progressbar" aria-valuenow="competence.value" aria-valuemin="0" aria-valuemax="100" style="width: {{competence.value}}%">
										    <span class="sr-only">{{competence.value}}% Complete</span>
										  </div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						
					</li>

				</ul>
			</li>
		</ul>
		<!-- Add an optional button to close the popup -->
    	<button class="close fa fa-times" ng-click="closeOverlay()"></button>
	</div>
</div>