<div class="container-fluid login-form" ng-controller="LoginCtrl">
  	<div class="col-md-offset-4 col-lg-offset-4">
	  	<div class="col-md-6 col-xs-12 col-lg-6">
			<div class="panel panel-primary">
		      <div class="panel-heading">
		        <h3 class="panel-title">{{'LOG_IN' | translate}}</h3>
		      </div>
		      <div class="panel-body">
		         <form class="form-signin" role="form">
			    	<label class="checkbox">
				    	<input ng-model="user.username" type="text" class="form-control" placeholder="Username" required="" autofocus="">
				    </label>
				    <label class="checkbox">
				    	<input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="">
				    </label>
				    <a href="#retrieve-password">{{'FORGOT_PASS' | translate}}</a>
				    <label class="checkbox">
				      <input  ng-model="user.rememberMe"  type="checkbox" value="remember-me"> {{'REMEMBER_ME' | translate}}
				    </label>
				    <div><a href="#cnil">{{'CNIL_STATEMENT' | translate}}</a></div>
				    <div><a href="#cgu">{{'CGU' | translate}}</a></div>
				    
				    <div class="text-right">
				    	<button class="btn btn-default" type="submit" ng-click="login()">{{'SIGN_IN' | translate}}</button>
				    </div>
				  </form>
		      </div>
		    </div>
		</div>
		
	</div>
</div>

