<div ng-controller="UserSchedulingCtrl">
	
	<h2>Nombre d'heures disponibles: {{max}}</h2>
	<div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-xs-12 col-lg-8 ">
	    <div class="panel panel-primary box-shadow">
	      <div class="panel-heading">
	        <h3 class="panel-title">Personel</h3>
	      </div>
	      <div class="panel-body register-body">
	        <table class="table">
			  <tbody>
			    <tr>
			      <td  class="col-xs-9 col-md-10 col-lg-10">Sommeil</td>
			      <td  class="col-xs-3 col-md-2 col-lg-2" arrowrange min="min" max="max" value="value['sleep']" on-min="onMin" on-max="onMax" on-value-change="onValueChange"></td>
			    </tr>
			    <tr>
			      <td>Relation avec entourage</td>
			      <td arrowrange min="min" max="max" value="value['friend_relationship']" on-min="onMin" on-max="onMax" on-value-change="onValueChange"></td>
			    </tr>
			    <tr>
			      <td>Apprentisage</td>
			      <td arrowrange min="min" max="max" value="value['personal_learning']" on-min="onMin" on-max="onMax" on-value-change="onValueChange"></td>
			    </tr>
			    <tr>
			      <td>Loisir</td>
			      <td arrowrange min="min" max="max" value="value['divertisement']" on-min="onMin" on-max="onMax" on-value-change="onValueChange"></td>
			    </tr>
			  </tbody>
			</table>
	      </div>
	    </div>
	</div>
	<div class="col-md-offset-2 col-lg-offset-2 col-md-10 col-xs-12 col-lg-8 ">
	    <div class="panel panel-primary box-shadow">
	      <div class="panel-heading">
	        <h3 class="panel-title">Professionel</h3>
	      </div>
	      <div class="panel-body register-body">
	        	<table class="table">
				  <tbody>
				    <tr>
				      <td class="col-xs-9 col-md-10 col-lg-10">Travail pour la societé</td>
				      <td class="col-xs-3 col-md-2 col-lg-2" arrowrange min="min" max="max" value="value['company_work']" on-min="onMin" on-max="onMax" on-value-change="onValueChange"></td>
				    </tr>
				    <tr>
				      <td>Relation avec societé</td>
				      <td arrowrange min="min" max="max" value="value['company_relationship']" on-min="onMin" on-max="onMax" on-value-change="onValueChange"></td>
				    </tr>
				    <tr>
				      <td>Relation avec salariés</td>
				      <td arrowrange min="min" max="max" value="value['employees_relationship']" on-min="onMin" on-max="onMax" on-value-change="onValueChange"></td>
				    </tr>
				    <tr>
				      <td>Relations avec investisseur</td>
				      <td arrowrange min="min" max="max" value="value['investisor_relationship']" on-min="onMin" on-max="onMax" on-value-change="onValueChange"></td>
				    </tr>
				    <tr>
				      <td>Travail salarié</td>
				      <td arrowrange min="min" max="max" value="value['salary_work']" on-min="onMin" on-max="onMax" on-value-change="onValueChange"></td>
				    </tr>
				  </tbody>
				</table>
	      </div>
	    </div>
	</div>

	

	
</div>
